body{
    background-image : url("https://static.vecteezy.com/system/resources/thumbnails/006/923/598/small_2x/running-man-abstract-logo-free-vector.jpg");
    background-repeat:no-repeat;
    background-position:bottom;
}
