h1
{
    color : red;
}

.myClass
{
    color:yellow;
} 

#greet 
{
    color : green; 
}


div p
{
    background-color: yellow;
}

.para
{
    background-color: green;
}

p
{
    background-color: red;
}

   
